@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;

font-family: 'Libre Baskerville', serif;

font-family: 'Poppins', sans-serif;
*/

.container {
    max-width: 1444px !important;
}

img.arrow_down {
    position: fixed;
    right: 250px;
    bottom: 250px;
    z-index: 99;
    display: none;
}