@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;

font-family: 'Libre Baskerville', serif;

font-family: 'Poppins', sans-serif;
*/

.container {
    max-width: 1444px !important;
}

img.arrow_down {
    position: fixed;
    right: 250px;
    bottom: 250px;
    z-index: 99;
    display: none;
}

/*  
*
* HEADER
*
*/
header.header {
    background: #F4F4F4;
    padding: 20px 0px;
}

header.header .nav .logo > img {
    max-width: 70%;
    margin-bottom: 10px;
}

header.header .nav {
    align-items: center;
    justify-content: space-between;
}

header.header .link a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    margin-left: 40px;
    text-decoration: none;
}

header.header .link a:hover {
    color: #11897D;
}

/*
*
* HOME
*
*/
.home {
    position: relative;
}
.home .circle1 {
    position: absolute;
    left: -150px;
    top: -100px;
}
.home .circle2 {
    position: absolute;
    bottom: -250px;
    left: 100px;
}

.home_image_header_left {
    padding: 0px;
}
.home_image_header_left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_header_right {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    padding: 70px;
    padding-bottom: 0px;
}

.home_header_right .col-right {
    position: relative;
    height: 100%;
    max-width: 60%;
    padding-bottom: 50px;
}

.home_header_right .col-right > h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #000;
    font-size: 60px;
    max-width: 50%;
}
.home_header_right .col-right > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
}
.home_header_right .col-right > button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    border: 1px solid #000000;
    background: transparent;
    padding: 10px 20px;
    margin-top: 30px;
}

/*
*
*  CHIMERA CIRCLE
*
*/

.section2 {
    border: 1px solid #11897D;
    height: 700px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 700px;
    margin: 150px auto;
    padding: 150px 150px;
}

.section2 h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 70px;
    position: relative
}
.section2 h1 img {
    position: absolute;
    top: -30%;
    left: -10%;
}
.section2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 50px;
}


/*
*
*  OUR PROJECTS
*
*/

.section3 {
    background-color: #FAFAFA;
    padding-top: 100px;
}

.section3 h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 h1 > img {
    position: absolute;
}

.section3 .projects {
    padding: 100px 0px;
}
.section3 .projects div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.section3 .projects div img {
    height: 450px;
}

.section4 {
    background-color: #FAFAFA;
    padding-bottom: 100px;
}

.section4 > .testimonialsCircle {
    position: absolute;
    left: 3%;
    top: -5%;
    z-index: 1;
}

/*
*
* TESTIMONIALS
*
*/

.testimonials {
    background-color: #fff;
    border-radius: 16px;
    padding: 100px;
    position: relative;
    z-index: 2;
}

.testimonials h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 40px;
}

.testimonials .c-card {
    border: 1px solid #E9ECF2;
    border-radius: 16px;
}
.testimonials .c-card .content {
    padding: 20px;
}
.testimonials .c-card .content .ceo {
    font-family: 'Poppins', sans-serif;
    color: #758090;
    font-size: 13px;
}
.testimonials .c-card .content p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.testimonials .c-card .img-circle {
    padding: 20px;
}


/*
*
* ABOUT US
*
*/
.about {
    position: relative;
    background: url(/_nuxt/static/about_bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12%;
}

/*  
*
* FOOTER
*
*/

footer {
    background: #000;
}

.footer .logo {
    padding: 50px;
}

footer .footer_contact {
    max-width: fit-content;
    margin-left: auto;
    text-align: left;
}

footer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #C8DBD9;
    margin-bottom: 22px;
}

footer div.link {
    display: flex;
    flex-direction: column;
}

footer div.link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 22px;
}

footer .politica_link {
    display: flex;
    align-items: center;
}

footer .politica_link a {
    margin-right: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #C8DBD9;
}

footer .social_icon {
    display: flex;
    align-items: center;
    justify-content: end;
}
footer .social_icon img {
    margin-left: 40px;
}

footer .politica_link_social_icon {
    padding-top: 100px;
}

footer .footer_circle {
    display: flex;
    margin: auto;
    padding-top: 20px;
}